.app{
    background-color: rgb(70, 69, 69);
    color: white;
    width: 25em;
    height: 25em;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}